<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="disconnecteddemo.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=LAB1-DEMO;Initial Catalog=Northwind;User ID=sa;Password=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>