<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Grid_Demo.Properties.Settings.SaritaDBConnectionString"
            connectionString="Data Source=NALANDA;Initial Catalog=SaritaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>