<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="disconnecteddemo.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=LAB1-DEMO;Initial Catalog=Northwind;Integrated security=true"
            providerName="System.Data.SqlClient" />
        <add name="disconnecteddemo.Properties.Settings.NorthwindConnectionString1"
            connectionString="Data Source=.;Initial Catalog=Northwind;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>